/* Normalize */

@import url('../css/normalize.css') screen;

/* Bootstrap */

@import url('../vendor/bootstrap/css/bootstrap.min.css') screen;
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css') screen;

/* Custom */

@import url('../css/reset.css') screen;
@import url('../css/extension.css') screen;
@import url('../css/layout.min.css') screen;
@import url('../css/style.css') screen;

/* Icons */

@import url('../vendor/font-awesome/css/all.min.css') screen;